/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

:root {
    --ion-font-family: 'DM Serif Text', serif;
    --custom-gradient-secondary: linear-gradient(to bottom, rgba(236,233,230,1) 55%, rgba(255,255,255,1) 100%);
    --custom-gradient-dark: linear-gradient(to right, rgba(35,37,38,1) 35%, rgba(65,67,69,1) 100%);
}

.medium {
    background: var(--custom-gradient-secondary);
    color: #474141;
}

.dark {
    background: var(--custom-gradient-dark);
    color: #ffffff;
}
    
ion-title {
    font-size: 1.8rem;
    
    span {
        color: var(--ion-color-light-shade);
    }
}

ion-tab-bar {
    --border: none;
    ion-tab-button {
        ion-icon {
            padding: 10px;
            font-size: 1.3rem;
            border-radius: 50%;
            transition: 200ms all ease-in-out;
        }
    }

    .tab-selected {
        ion-icon {
            color: #ffffff;
            background: var(--custom-gradient-dark);
        }
    }
}

.large-icon {
    font-size: 2rem;
}

.p-4 {
    padding: 0 4px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.link {
    font-size: 0.8rem;
}

ion-grid, ion-col {
    padding: 0;
}

ion-card {
    margin: 4px;
    box-shadow: none;
    border-radius: 1.2rem;
}

.title {
    ion-icon:first-child, ion-badge {
        font-size: 1.5rem;
        color: var(--ion-color-dark);
        background-color: #fff;
        padding: 4px;
        border: 1px solid #fff;
        border-radius: 0.6rem;
        margin-right: 14px;
        margin-top: 6px;
    }  

    ion-badge {
        width: 32px;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 14px;
    }

    .title-space {
        padding: 40px;
    }

    .mb {
        padding-bottom: 40px;
    }
}

.icon-go {
    font-size: 2rem;
    padding: 4px;
    margin-right: 10px;
    margin-top: 20px;
}

.sort-icon {
    font-size: 1.2rem;
    position: relative;
    top: 0.3rem;
}

ion-item {
    border-bottom: 1px solid #f8f8f8;
}

ion-avatar {
    --border-radius: 30%;
    background-color: #ebebeb;
    padding: 4px;
}

.badge-item {
    ion-avatar {
        padding: 8px;
    }
}